.projects_title{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.Block1{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 10px;
    
}
.Block1 > img{
    width: 500px;

}
.Block1 > p{
    font-weight: bold;
    text-align: center;
}