.pro_box_container{
    width: 550px;
    margin: 10px;
    }
    .pro_box_img_container>img{
        width: 500px;
    }
    .pro_box_title{
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        color: red;
    }
    .pro_box_des{
        padding: 0px 10px;
    }
    .pro_box_des>p{
     font-size: 18px;
     text-align: justify;
    }
    .pro_box_link{
        font-size: 18px;
        padding-left: 8px;
        
    }
    .pro_box_link>span{
        color: red;
        font-weight: bold;
        
    }
    .pro_box_link>a{
        color: white;
    }